{% extends "cashier/base.html" %}
{% load static %}


{% block body %}
{% include "components/cashier/layout_start.html" %}
{% include "components/cashier/page_header.html" %}

<article class="cashier-panel">
  <div class="cashier-panel__body text-center py-5">
    <p class="text-muted mb-0">This section is ready for implementation. Use the sidebar to move between cashier modules.</p>
  </div>
</article>

{% include "components/cashier/layout_end.html" %}
{% endblock %}

{% block scripts %}
{% include "components/cashier/scripts_common.html" %}
{% endblock %}
